<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" ng-click="leaseRoomSignModal.cancel()">&times;</button>
      <h4 class="modal-title" id="myModalLabel">房间基本信息</h4>
    </div>
    <div class="modal-body">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">所在楼栋</span> &nbsp;
        <span class="label label-info" ng-bind="leaseRoomSignModal.room.building.name"></span>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">房间编号</span> &nbsp;
        <span class="label label-info" ng-bind="leaseRoomSignModal.room.name"></span>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">房间描述</span> &nbsp;
        <span class="label label-info" ng-bind="leaseRoomSignModal.room.desc"></span>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">租房人姓名</span>
        <input type="text" ng-model="leaseRoomSignModal.room.contract.contractor_name" class="form-control" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">身份证号码</span>
        <input type="text" ng-model="leaseRoomSignModal.room.contract.id_number" class="form-control" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">电话号码</span>
        <input type="text" ng-model="leaseRoomSignModal.room.contract.phone" class="form-control" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">家庭住址</span>
        <input type="text" ng-model="leaseRoomSignModal.room.contract.contractor_location" class="form-control" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">纸质合同编号</span>
        <input type="text" ng-model="leaseRoomSignModal.room.contract.contractor_number" class="form-control" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">合同开始日期</span>
          <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="leaseRoomSignModal.room.contract.start_time" is-open="leaseRoomSignModal.startOpen" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="leaseRoomSignModal.openStartCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      </div>
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">合同截止日期</span>
          <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="leaseRoomSignModal.room.contract.end_time" is-open="leaseRoomSignModal.endOpen" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="leaseRoomSignModal.openEndCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="leaseRoomSignModal.cancel()">关闭</button>
      <button type="button" class="btn btn-primary" ng-click="leaseRoomSignModal.save()">保存</button>
    </div>
</div>
