<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" ng-click="leaseViewRoomSignModal.cancel()">&times;</button>
      <h4 class="modal-title" id="myModalLabel">房间基本信息</h4>
    </div>
    <div class="modal-body">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">所在楼栋</span> &nbsp;
        <span class="label label-info" ng-bind="leaseViewRoomSignModal.room.building.name"></span>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">房间编号</span> &nbsp;
        <span class="label label-info" ng-bind="leaseViewRoomSignModal.room.name"></span>
        <!-- <input type="text" ng-model="leaseViewRoomSignModal.room.name" class="form-control" placeholder="楼号" aria-describedby="basic-addon1"> -->
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">房间描述</span>&nbsp;
        <span class="label label-info" ng-bind="leaseViewRoomSignModal.room.desc"></span>
        <!-- <input type="text" ng-model="leaseViewRoomSignModal.room.desc" class="form-control" aria-describedby="basic-addon1"> -->
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">租房人姓名</span>&nbsp;
        <span class="label label-info" ng-bind="leaseViewRoomSignModal.room.contract.contractor_name"></span>
        <!-- <input type="text" ng-model="leaseViewRoomSignModal.room.contract.contractor_name" class="form-control" aria-describedby="basic-addon1"> -->
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">身份证号码</span>&nbsp;
        <span class="label label-info" ng-bind="leaseViewRoomSignModal.room.contract.id_number"></span>
        <!-- <input type="text" ng-model="leaseViewRoomSignModal.room.contract.id_number" class="form-control" aria-describedby="basic-addon1"> -->
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">电话号码</span>&nbsp;
        <span class="label label-info" ng-bind="leaseViewRoomSignModal.room.contract.phone"></span>
        <!-- <input type="text" ng-model="leaseViewRoomSignModal.room.contract.phone" class="form-control" aria-describedby="basic-addon1"> -->
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">家庭住址</span>&nbsp;
        <span class="label label-info" ng-bind="leaseViewRoomSignModal.room.contract.contractor_location"></span>
        <!-- <input type="text" ng-model="leaseViewRoomSignModal.room.contract.contractor_location" class="form-control" aria-describedby="basic-addon1"> -->
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">纸质合同编号</span>&nbsp;
        <span class="label label-info" ng-bind="leaseViewRoomSignModal.room.contract.contractor_number"></span>
        <!-- <input type="text" ng-model="leaseViewRoomSignModal.room.contract.contractor_number" class="form-control" aria-describedby="basic-addon1"> -->
      </div>
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">合同开始日期</span>&nbsp;
          <span class="label label-info" ng-bind="leaseViewRoomSignModal.room.contract.start_time"></span>
      </div>
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">合同截止日期</span>&nbsp;
          <span class="label label-info" ng-bind="leaseViewRoomSignModal.room.contract.end_time"></span>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="leaseViewRoomSignModal.cancel()">关闭</button>
      <!-- <button type="button" class="btn btn-primary" ng-click="leaseViewRoomSignModal.save()">保存</button> -->
    </div>
</div>
