<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" ng-click="addRoomModal.cancel()">&times;</button>
      <h4 class="modal-title" id="myModalLabel">房间基本信息</h4>
    </div>
    <div class="modal-body" ng-form="addRoomForm">
      <div class="input-group" ng-class="{'has-error':addRoomForm.roomName.$touched && addRoomForm.roomName.$invalid}">
        <span class="input-group-addon" id="basic-addon1">房间名称</span>
        <input type="text" ng-model="addRoomModal.newRoom.name" class="form-control" placeholder="房间名称" aria-describedby="basic-addon1" required name="roomName">
        <span ng-messages="addRoomForm.roomName.$error" ng-show="addRoomForm.roomName.$touched">
          <span ng-message="required">*房间名称必须填写</span>
        </span>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">房间描述</span>
        <input type="text" ng-model="addRoomModal.newRoom.desc" class="form-control" aria-describedby="basic-addon1">
      </div>
      <div class="input-group" ng-class="{'has-error':addRoomForm.water_degree.$touched && addRoomForm.water_degree.$invalid}">
          <span class="input-group-addon" id="basic-addon1">房间当前水度数</span>
          <input type="number" ng-model="addRoomModal.newRoom.water_degree" class="form-control" placeholder="当前水度数(单位-度)" aria-describedby="basic-addon1" name="water_degree" required>
          <span ng-messages="addRoomForm.water_degree.$error" ng-show="addRoomForm.water_degree.$touched">
            <span ng-message="required">*当前房间剩余的水度数必填</span>
            <span ng-message="number">*必须为数字</span>
          </span>
      </div>
      <div class="input-group" ng-class="{'has-error':addRoomForm.electric_degree.$touched && addRoomForm.electric_degree.$invalid}">
          <span class="input-group-addon" id="basic-addon1">房间当前电度数</span>
          <input type="number" ng-model="addRoomModal.newRoom.electric_degree" class="form-control" placeholder="当前电度数(单位-度)" aria-describedby="basic-addon1" name="electric_degree" required>
          <span ng-messages="addRoomForm.electric_degree.$error" ng-show="addRoomForm.electric_degree.$touched">
            <span ng-message="required">*当前房间电的度数必填</span>
            <span ng-message="number">*必须为数字</span>
          </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="addRoomModal.cancel()">关闭</button>
      <button type="button" class="btn btn-primary" ng-click="addRoomModal.save()">保存</button>
    </div>
</div>
