<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" ng-click="buildingAddModal.cancel()">&times;</button>
      <h4 class="modal-title" id="myModalLabel">楼栋基本信息</h4>
    </div>
    <div class="modal-body" ng-form="addBuildingForm">
      <div class="input-group" ng-class="{'has-error':addBuildingForm.name.$touched && addBuildingForm.name.$invalid}">
        <span class="input-group-addon" id="basic-addon1">楼栋名称</span>
        <input type="text" ng-model="buildingAddModal.newbuilding.name" class="form-control" placeholder="楼栋名称" aria-describedby="basic-addon1" name="name" required>
        <span ng-messages="addBuildingForm.name.$error" ng-show="addBuildingForm.name.$touched">
          <span ng-message="required">*楼名称必须填写</span>
        </span>
      </div>
      <div class="input-group" ng-class="{'has-error':addBuildingForm.building_sn.$touched && addBuildingForm.building_sn.$invalid}">
        <span class="input-group-addon" id="basic-addon1">楼栋编号</span>
        <input type="text" ng-model="buildingAddModal.newbuilding.building_sn" class="form-control" placeholder="楼栋编号" aria-describedby="basic-addon1" name="building_sn" required>
        <span ng-messages="addBuildingForm.building_sn.$error" ng-show="addBuildingForm.building_sn.$touched">
          <span ng-message="required">*楼编号必须填写</span>
        </span>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">房间数量</span>
        <input type="text" ng-model="buildingAddModal.newbuilding.rooms_count" class="form-control" placeholder="房间数量" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">楼栋描述</span>
        <input type="text" ng-model="buildingAddModal.newbuilding.desc" class="form-control" placeholder="楼栋描述" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="buildingAddModal.cancel()">关闭</button>
      <button type="button" class="btn btn-primary" ng-click="buildingAddModal.save()">保存</button>
    </div>
</div>
