<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" ng-click="buildingModal.cancel()">&times;</button>
      <h4 class="modal-title" id="myModalLabel">楼栋基本信息</h4>
    </div>
    <div class="modal-body" ng-form="editBuildingForm">
      <div class="input-group" ng-class="{'has-error':editBuildingForm.name.$touched && editBuildingForm.name.$invalid}">
        <span class="input-group-addon" id="basic-addon1">楼栋名称</span>
        <input type="text" ng-model="buildingModal.building.name" class="form-control" placeholder="楼栋名称" aria-describedby="basic-addon1" name="name" required>
        <span ng-messages="editBuildingForm.name.$error" ng-show="editBuildingForm.name.$touched">
          <span ng-message="required">*楼名称必须填写</span>
        </span>
      </div>
      <div class="input-group" ng-class="{'has-error':editBuildingForm.building_sn.$touched && editBuildingForm.building_sn.$invalid}">
        <span class="input-group-addon" id="basic-addon1">楼栋编号</span>
        <input type="text" ng-model="buildingModal.building.building_sn" class="form-control" placeholder="楼栋编号" aria-describedby="basic-addon1" name="building_sn" required>
        <span ng-messages="editBuildingForm.building_sn.$error" ng-show="editBuildingForm.building_sn.$touched">
          <span ng-message="required">*楼栋编号必须填写</span>
        </span>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">房间数量</span>
        <!-- <a href="#" editable-text="buildingModal.building.rooms_count">{{ buildingModal.building.rooms_count || 'empty' }}</a> -->
        <input type="text" ng-model="buildingModal.building.rooms_count" class="form-control" placeholder="房间数量" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">楼栋描述</span>
          <!-- <a href="#" editable-textarea="buildingModal.building.desc" e-rows="7" e-cols="20"> -->
            <!-- <pre>{{ buildingModal.building.desc || 'no description' }}</pre> -->
          <!-- </a> -->
        <input type="text" ng-model="buildingModal.building.desc" class="form-control" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="buildingModal.cancel()">关闭</button>
      <button type="button" class="btn btn-primary" ng-click="buildingModal.save()">保存</button>
    </div>
</div>
