<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" ng-click="editRoomModal.cancel()">&times;</button>
      <h4 class="modal-title" id="myModalLabel">房间基本信息</h4>
    </div>
    <div class="modal-body">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">房间编号</span>
        <!-- <a href="#" editable-text="buildingModal.building.name">{{ buildingModal.building.name || 'empty' }}</a> -->
        <input type="text" ng-model="editRoomModal.room.name" class="form-control" placeholder="楼号" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">房间描述</span>
          <!-- <a href="#" editable-textarea="buildingModal.building.desc" e-rows="7" e-cols="20"> -->
            <!-- <pre>{{ buildingModal.building.desc || 'no description' }}</pre> -->
          <!-- </a> -->
        <input type="text" ng-model="editRoomModal.room.desc" class="form-control" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="editRoomModal.cancel()">关闭</button>
      <button type="button" class="btn btn-primary" ng-click="editRoomModal.save()">保存</button>
    </div>
</div>
