<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" ng-click="updatePasswordModal.cancel()">&times;</button>
      <h4 class="modal-title" id="myModalLabel">用户基本信息</h4>
    </div>
    <div class="modal-body" ng-form="updatepasswordForm">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">用户名</span>&nbsp;
        <span class="label label-info" ng-bind="updatePasswordModal.user.name"></span>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">邮箱</span>&nbsp;
        <span class="label label-info" ng-bind="updatePasswordModal.user.email"></span>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">用户昵称</span>
        <span class="label label-info" ng-bind="updatePasswordModal.user.nick"></span>
      </div>
      <div class="input-group" ng-class="{'has-error':updatepasswordForm.password.$touched && updatepasswordForm.password.$invalid}">
        <span class="input-group-addon" id="basic-addon1">密码</span>
        <input type="password" ng-model="updatePasswordModal.user.password" class="form-control" placeholder="密码" aria-describedby="basic-addon1" required name="password" ng-minlength="6">
        <span ng-messages="updatepasswordForm.password.$error" ng-show="updatepasswordForm.password.$touched">
          <span ng-message="required">*密码必须填写</span>
          <span ng-message="minlength">*密码不能短于6</span>
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="updatePasswordModal.cancel()">关闭</button>
      <button type="button" class="btn btn-primary" ng-click="updatePasswordModal.save()">保存</button>
    </div>
</div>
