<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" ng-click="collectFeeMetaModal.cancel()">&times;</button>
      <h4 class="modal-title" id="myModalLabel"></h4>
    </div>
    <div class="modal-body" ng-form="collectFeeMetaForm">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">费用名称</span>
        <span class="label label-info" ng-bind="collectFeeMetaModal.newFeeMeta.name"></span>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">费用金额</span>
        <span class="label label-info" ng-bind="collectFeeMetaModal.newFeeMeta.fee"></span>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">征收楼栋</span>
        <ui-select ng-model="collectFeeMetaModal.selectedBuilding">
            <ui-select-match placeHolder="所有楼">
              <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="building in (collectFeeMetaModal.AllBuildings | filter: $select.search) track by building.id">
              <span ng-bind="building.name"></span>
            </ui-select-choices>
        </ui-select>
      </div>
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">收费开始日期</span>
          <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="collectFeeMetaModal.newFeeMeta.fee_start_date" is-open="collectFeeMetaModal.startOpen" min-date="collectFeeMetaModal.minDate" max-date="collectFeeMetaModal.maxDate" ng-required="true" close-text="Close"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="collectFeeMetaModal.openStartCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      </div>
      <div class="input-group" ng-class="{'has-error':collectFeeMetaForm.days.$touched && collectFeeMetaForm.days.$invalid}">
          <span class="input-group-addon" id="basic-addon1">开始多少天后预警</span>
          <input type="number" ng-model="collectFeeMetaModal.newFeeMeta.days" class="form-control" placeholder="费用金额(单位-元)" aria-describedby="basic-addon1" name="days" required>
          <span ng-messages="collectFeeMetaForm.days.$error" ng-show="collectFeeMetaForm.days.$touched">
            <span ng-message="required">*开始后多少天开始预警必填</span>
            <span ng-message="number">*必须为数字</span>
          </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="collectFeeMetaModal.cancel()">关闭</button>
      <button type="button" class="btn btn-primary" ng-click="collectFeeMetaModal.save()">征收</button>
    </div>
</div>
