<div>
  <div class="row" style="margin-bottom:10px;">
    <div class="col-md-3">
      <ui-select ng-model="feeroomsboard.selectedBuilding">
          <ui-select-match placeHolder="所有楼">
            <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="building in (feeroomsboard.AllBuildings | filter: $select.search) track by building.id">
            <span ng-bind="building.name"></span>
          </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control input-md" placeholder="房间名字" ng-model="feeroomsboard.buildingName"></input>
    </div>
  </div>

</div>
<div class="jumbbotron">
  <div class="row">
  <div class="col-md-2" ng-repeat="room in feeroomsboard.AllRooms|filterBy:['building_id']:feeroomsboard.selectedBuilding.id|fuzzyBy:'name':feeroomsboard.buildingName">
    <div class='img-container'>
      <div class='img-text-warning' ng-if="room.warn"><span ng-bind="room.warn"></span></div>
      <div class='img-text-edit'>
        <span class="pull-right glyphicon glyphicon-usd clickable_space" ng-click="feeroomsboard.openSignModal(room)"></span>
      </div>
      <div class='img-text-board'>
        <span ng-bind="room.building.name" style="display:block"></span>
        <span ng-bind="room.name"></span>
      </div>
      <a href="#" ng-click="feeroomsboard.openSignModal(room)">
      <img src='/images/collect-fee-room.png'/>
      </a>
    </div>
  </div>
  </div>
</div>
